<div class="main">
  <div class="container-fluid border">
    <div class="container">
      <nav>
        <p>menu</p>
      </nav>
    </div>
  </div>

  <main class="container-fluid border">
    <div class="container">
      <div *ngFor="let el of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]; let i = index">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugit maiores eum iusto et. Fugit enim asperiores nihil similique, eaque, provident temporibus corrupti totam, numquam nisi voluptas reprehenderit sequi natus?</p>
      </div>
    </div>
  </main>
</div>

<footer class="container-fluid border">
  <div class="container">
    <p>rodape</p>
  </div>
</footer>
